body{
  background-color: rosybrown;
  font-family: 'Arial',sans-serif;
}
p{
  margin-top: 5px;
  margin-bottom: 5px;
}
.business-card{
  width: 300px;
  background-color: lavenderblush;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid darkslategray;
}
.profile-image{
  max-width: 100%;
  border: 2px solid lightgray;
}
a{
  text-decoration: none;
  color: maroon;
  margin: 10px;
}
.full-name{
    font-size: 24px;
    color: darkslategray;
}
.designation{
    font-size: 18px;
    color: gray;
}
.company{
    font-size: 16px;
    color: darkgray;
}
